<h1>Rock Paper Scissors</h1>
<form action="/scrabble">
  <div class="form-group">
    <label for="rock_paper_scissors">Play Rock Paper Scissors</label>
    <input id="rock_paper_scissors" name="rock_paper_scissors" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
